    
.wrapper {
    background-color: darkcyan;
    border-radius: 20px;
    position: relative;
    top: -30px;
  text-align: center;
  padding-top: 2rem;
  overflow-y: scroll;
  height: 35vh;
  transition: all 0.3s ease-in-out;
}

    .imageBox {
  background-color: #ddd;
  color: #3b82f6; 
  margin: 1rem;
  display: grid;
    align-items: center;
    padding: 1rem;
}


@media (min-width: 768px) {
  .wrapper {
    overflow-y: visible;
    height: auto;
    position: static;
    width: 50%;
    margin: 1rem;
  }
  .closeBtn {
    display: none;
  }
}
