.sectionResult {
  background: #ddd;
  display: flex;
  justify-content: center;
  min-height: 80%;
  height: 100%;
}
.resultItem {
  width: 275px;
  filter: drop-shadow(1px 8px 1rem #000);
  border: 5px solid #3C3636;
  border-radius: 15px;
  margin: 2rem 3rem;
  max-height: 575px;
  display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

